@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800&display=swap");

:root {
  --yellow-color: #efc862;
  --text-white-color: #ffffff;
  --text-news-para-color: #a1a1a1;
  --text-collection-color: #a49393;
  --bottom-event-black-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  min-height: 100vh;
}

.main__landing__page {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/hero_img.png"),
    linear-gradient(
      120deg,
      rgba(27, 27, 29, 1) 0%,
      rgba(80, 80, 84, 1) 21%,
      rgba(72, 72, 76, 1) 46%,
      rgba(70, 70, 73, 1) 72%,
      rgba(22, 22, 24, 1) 100%
    );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/*================
            Header(navbar)
=================*/
.header {
  width: 100%;
  height: 3rem;
  color: var(--text-white-color);
  padding: 5px 40px;

}

.lp-brand{
  flex: 1;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}

.navbar-unorder-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nav__link{
  color: var(--text-white-color);
  text-decoration: none;
  font-weight: 600;
}

.navbar-unorder-list li{
  list-style: none;
  padding: 5px 0;
  cursor: pointer;
}

.nav-list{
 width: auto;
 margin: 0 16px;
 text-align: center;
}







/*---Logo---*/
/* .lp-brand {
  font-size: 2rem;
  font-weight: 700;
  flex-basis: 60%;
  margin-left: 0.9rem;
}

.lp-brand a {
  text-decoration: none;
  color: var(--text-white-color);
  animation: color-change 1s infinite;
  transition: all 1s ease;
}

@keyframes color-change {
  0% {
    color: var(--text-white-color);
  }
  100% {
    color: var(--yellow-color);
  }
} */

/* .nav__link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 30px;
  left: 0;
  background-color: var(--yellow-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav__link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar-link-active {
  color: var(--yellow-color) !important;
}

.navbar-link-active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--yellow-color);
  visibility: visible;
  transform: scaleX(1);
} */

/*==================
              main content part 
 ==================*/
/*--- Grid container ---*/
.main__content {
  height: calc(100vh - 3.1rem);
  display: grid;
  grid: repeat(12, 1fr) / repeat(16, 1fr);
}

.main__content__item {
  color: var(--text-white-color);
}

/*--- ==============
               Grid items
===============---*/


/*===========
             collection 
 ===========*/
.collection-grid-item {
  grid-area: 3 / 3 / 7 / 6;
  height: auto;
}

.collection-grid-item span:nth-child(1) {
  font-size: 2rem;
  font-weight: 700;
}

.collect-semi-bold-text {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.9rem;
}

.collection-light-text {
  font-size: 0.8rem;
  font-weight: 300;
}

.collection-border {
  height: 2px;
  background: var(--text-news-para-color);
  margin: 1rem 0;
}

.collect-border-two {
  width: 60%;
  height: 2px;
  background: var(--yellow-color);
}

/*===========
          Hero heading
 ===========*/
.hero-heading-grid-item {
  grid-area: 3 / 10 / 5 / 13;
  font-size: 6vmin;
  font-weight: 800;
}

.hero-para-grid-item {
  grid-area: 5 / 10 / 8 / 14;

  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.bottom-event-news-grid-item {
  box-sizing: border-box;
  padding: 0 2.5rem;
  background: rgba(0, 0, 0, 0.5);
  /*it adds filters (like changing the hue, contrast or blur) of the background of an element without changing the text or other elements inside.*/
  backdrop-filter: blur(3px) brightness(1.4);
  grid-area: 10 / 2 / 13 / 17;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  overflow: hidden;
}

.bottom-event-news-grid-item h4 {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.bottom-event-news-grid-item p {
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--text-news-para-color);
}

.Event-model-image img {
  /* width: 11vw; */
  width: calc(9vw + 2rem);
  height: 10rem;
}

.date-color-change {
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--text-white-color);
}

.event_with_title {
  flex-basis: 20%;
}

.three-dots {
  display: flex;
  gap: 0.6rem;
  margin-top: 2rem;
}

.dot-one {
  height: 0.4em;
  width: 0.4em;
  background: var(--yellow-color);
  border: none;
  border-radius: 50%;
}

.dot-back-change {
  background: var(--text-news-para-color);
}

.event_without_title {
  flex-basis: 20%;
}

.Event-model-image {
  height: 100%;
}

.News p {
  margin-bottom: 2rem;
}

.News a {
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--yellow-color);
}

.social-media-grid-item {
  grid-area: 9 / 1 / 13 / 2;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--text-news-para-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.social-media-grid-item a {
  text-decoration: none;
  color: var(--text-white-color);
}

.facbook,
.instagram,
.twitter {
  transform: rotate(270deg);
}

.siderbar-outline {
  grid-area: 1/ 1 / 9 / 2;
  border-right: 1px solid #aba2a2;
  opacity: 0.3;
}


@media screen and (max-width:882px) {
.header{
  padding: 1rem;
  -webkit-tap-highlight-color: transparent;
}



}

@media screen and (max-width:769px) {
  .Event-model-image{
    display: flex;
    align-items: center;
  }

  .hero-para-grid-item {
    grid-area: 5 / 10 / 8 / 15;
  }

  .bottom-event-news-grid-item{
    grid-area: 9 / 2 / 13 / 17;
  }
}

@media screen and (max-width:700px) {
  .collection-grid-item,  .siderbar-outline, .social-media-grid-item{
    display: none;
  }

  .bottom-event-news-grid-item {
    grid-area: 9 / 1 / 13 / 17;
}

.hero-heading-grid-item {
  grid-area: 3 / 6 / 5 / 14;
  margin-bottom: 1.5rem;
}

.hero-para-grid-item {
  grid-area: 4 / 6 / 8 / 15;
}

}

@media screen and (max-width:610px){
  .event_without_title , .Event-model-image {
   display: none;
}

.bottom-event-news-grid-item {
  grid-area: 9 / 1 / 13 / 17;
  padding: 1rem;
}

.event_with_title {
  flex-basis: 50%;
}

.News p {
  margin-bottom: 1rem;
}

.hero-heading-grid-item {
  grid-area: 4 / 3 / 5 / 15;
  text-align: center;
  font-size: 2.2rem;
}

.hero-para-grid-item {
  grid-area: 5 / 3 / 8 / 15;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

} 


@media screen and (max-width:281px) {
  .event_with_title {
    flex-basis: 94%;
}
}